@{
    Layout = null;
    string PageId = ViewBag.PageId;
    string userids = ViewBag.userids == null ? "" : ViewBag.userids;//接收用户ID
    string loginname = ViewBag.loginname == null ? "" : ViewBag.loginname;//接收用户的登录名
    string depid = ViewBag.depid == null ? "" : ViewBag.depid;//接收信息的部门ID
    bool getchild = ViewBag.getchild; //部门是否获取子集
    string msg = ViewBag.msg;//消息内容
}
<script>
    $.get("/PCCCMain/HelloWord", function (Mut) {
        var SendForm = $("#@(PageId)SendForm");
        var SendBtn = $("#@(PageId)SendBtn");
        SendBtn.click(function () {
            //点击发送按钮
            if ($(this).linkbutton('options').disabled == false) {
                var Reg = SendForm.form('enableValidation').form('validate');
                if (Reg) {
                    var SelectedUserGrid = $("#@(PageId)selecteduserlistgrid");
                    var users = SelectedUserGrid.datagrid("getRows");
                    console.log(users);
                    if (users.length > 0) {
                        var mobilephons = "";
                        $.each(users, function (i, n) {
                            if (n.MobilePhone != "" && n.MobilePhone != null) {
                                mobilephons += n.MobilePhone + ",";
                            }
                        });
                        if (mobilephons != "") {
                            mobilephons = mobilephons.substring(0, mobilephons.length - 1);
                            var d = SendForm.serializeObject();
                            console.log(d);
                            var sendrequest = {
                                mobilePhone: mobilephons,
                                content: d.msg
                            }
                            console.log(sendrequest);
                            $.messager.confirm('请确认', '确认发送短信？', function (r) {
                                if (r) {
                                    SendBtn.linkbutton('disable');
                                    $.post("/api/ApiSms/SendSmsByPhones", sendrequest, function (json) {
                                        if (json.ReturnCode == 0) {
                                            $.messager.alert('Success', "发送成功", 'info');
                                        }
                                        else {
                                            $.messager.alert('错误', json.ReturnMessage, 'error');
                                        }
                                        SendBtn.linkbutton('enable');
                                    });
                                }
                            });
                        }
                        else {
                            $.messager.alert('提示', '所选用户没有手机号码<br />无法发送短信', 'warning');
                        }
                    }
                    else {
                        $.messager.alert('提示', '没有设置短信接收者信息', 'warning');
                    }
                }
            }
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center',border:false">
        <div class="easyui-panel" data-options="fit:true,border:false,href:'/PCCCMembers/selecteduserlist?userids=@userids&loginname=@loginname&depid=@depid&getchild=@getchild&PageId=@PageId'" title="已选用户">
        </div>
    </div>
    <div data-options="region:'south',height:'130',border:false" style="background-color:#f4f4f4">
        <form id="@(PageId)SendForm">
            <table class="formtable" style="width:100%;">
                <tr>
                    <td colspan="2">短信内容<span style="font-weight:bold;color:red; padding-left:5px;">[只能发送通知类短消息]</span></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" value="@msg" class="easyui-textbox" name="msg" style="height:56px; width:85%;" data-options="multiline:true,required:true,validType:'length[0,200]'" />
                    </td>
                </tr>
                <tr>
                    <td style="width:100px;"><a href="javascript:void(0)" id="@(PageId)SendBtn" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确认发送</a></td>
                    <td>提示：已选人员中，如果没有设置手机号码，系统会自动跳过为该用户发送短消息</td>
                </tr>
            </table>
        </form>
    </div>
</div>