@{
    Layout = null;
    string PageId = ViewBag.PageId;
    string userids = ViewBag.userids == null ? "" : ViewBag.userids;//接收用户ID
    string loginname = ViewBag.loginname == null ? "" : ViewBag.loginname;//接收用户的登录名
    string depid = ViewBag.depid == null ? "" : ViewBag.depid;//接收信息的部门ID
    bool getchild = ViewBag.getchild; //部门是否获取子集
    string msg = ViewBag.msg;//消息内容
    string title = ViewBag.title;//推送标题
}
<script>
    $.get("/PCCCMain/HelloWord", function (Mut) {
        var SendForm = $("#@(PageId)SendForm");
        var SendBtn = $("#@(PageId)SendBtn");
        SendBtn.click(function () {
            if ($(this).linkbutton('options').disabled == false) {
                var Reg = SendForm.form('enableValidation').form('validate');
                if (Reg) {
                    var SelectedUserGrid = $("#@(PageId)selecteduserlistgrid");
                    var users = SelectedUserGrid.datagrid("getRows");
                    console.log(users);
                    if (users.length > 0) {
                        var d = SendForm.serializeObject();
                        var sendrequest = {
                            userIds: [
                            ],
                            messageType: 0,
                            title: d.title,
                            msg: d.msg
                        }
                        $.each(users, function (i, n) {
                            if (n.getuiPushSet != null) {
                                sendrequest.userIds.push(n.UserId);
                            }
                        });
                        if (sendrequest.userIds.length > 0) {
                            console.log(sendrequest);
                            //发送
                            SendBtn.linkbutton('disable');
                            $.post("/api/ApiPush/SendGTuiPushByUsersList", sendrequest, function (json) {
                                if (json.ReturnCode == 0) {
                                    $.messager.alert('Success', "发送成功", 'info');
                                }
                                else {
                                    $.messager.alert('错误', json.ReturnMessage, 'error');
                                }
                                SendBtn.linkbutton('enable');
                            });
                        }
                        else {
                            $.messager.alert('提示', '所选用户均没有推送设置信息<br />无法发送推送', 'warning');
                        }
                    }
                    else {
                        $.messager.alert('提示', '没有设置推送接收者信息', 'warning');
                    }
                }
            }
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center',border:false">
        <div class="easyui-panel" data-options="fit:true,border:false,href:'/PCCCMembers/selecteduserlist?userids=@userids&loginname=@loginname&depid=@depid&getchild=@getchild&PageId=@PageId'" title="已选用户">
        </div>
    </div>
    <div data-options="region:'south',height:'130',border:false" style="background-color:#f4f4f4">
        <form id="@(PageId)SendForm">
            <table class="formtable" style="width:100%;">
                <tr>
                    <td colspan="2">推送内容</td>
                </tr>
                <tr>
                    <td>标题</td>
                    <td><input type="text" value="@title" class="easyui-textbox" name="title" style="width:200px;" data-options="multiline:false,required:true,validType:'length[0,20]'" /></td>
                </tr>
                <tr>
                    <td>内容</td>
                    <td>
                        <input type="text" value="@msg" class="easyui-textbox" name="msg" style="width:85%;" data-options="multiline:false,required:true,validType:'length[0,200]'" />
                    </td>
                </tr>
                <tr>
                    <td style="width:100px;"><a href="javascript:void(0)" id="@(PageId)SendBtn" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确认发送</a></td>
                    <td>提示：已选人员中，如果没有设置推送信息，系统会自动跳过为该用户发送推送信息</td>
                </tr>
            </table>
        </form>
    </div>
</div>
