@{
    ViewBag.Title = "AuthorizeError";
    Layout = "~/Views/Shared/PcWeb_BootStrapLayout.cshtml";
}
<div class="container" style="padding-top:20px;">
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>您没有访问权限
    </div>
</div>
